@{ ViewBag.Title = "Login";}

<h2>Login</h2>

<form method="post">
    <table class="w-25 table table-striped table-bordered">
        <tbody>
            <tr>
                <td>Security Key</td>
                <td><input type="text" name="key" /></td>
            </tr>
            <tr>
                <td>Person</td>
                <td><input type="text" name="person" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
